---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

/* Colors */
$background-color: #fff !default;
$text-color: #222831 !default;
$muted-text-color: #CFB53B !default;
$primary-color: #002366 !default;
$border-color: #002366 !default;
$footer-background-color: $primary-color !default;
$link-color: #002366 !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

/* system typefaces */
$serif      : Georgia, Times, serif;
$sans-serif : Helvetica, "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Lucida Grande", Arial, sans-serif;
$monospace  : Monaco, Consolas, "Lucida Console", monospace;

$global-font-family           : $sans-serif;
$header-font-family           : $sans-serif;
$caption-font-family          : $serif;

/* type scale */
$type-size-1                  : 2.441em !default;  // ~39.056px
$type-size-2                  : 1.953em !default;  // ~31.248px
$type-size-3                  : 1.563em !default;  // ~25.008px
$type-size-4                  : 1.25em !default;   // ~20px
$type-size-5                  : 1em !default;      // ~16px
$type-size-6                  : 0.75em !default;   // ~12px
$type-size-7                  : 0.6875em !default; // ~11px
$type-size-8                  : 0.625em !default;  // ~10px

$max-width:90%; //



@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


html {
  font-size: 14px; // 

  @include breakpoint($medium) {
    font-size: 14px; // 
  }

  @include breakpoint($large) {
    font-size: 16px; // 
  }

  @include breakpoint($x-large) {
    font-size: 18px; //
  }
}

.sidebar {
    @include clearfix();
    // @include breakpoint(max-width $large) {
    //   /* fix z-index order of follow links */
    //   position: relative;
    //   z-index: 10;
    //   -webkit-transform: translate3d(0, 0, 0);
    //   transform: translate3d(0, 0, 0);
    // }
  
    @include breakpoint($large) {
      float: left;
      width: calc(#{$right-sidebar-width-narrow} - 1em);
      opacity: 1;
      filter: drop-shadow(0px 0px 0px rgb(255, 255, 255));;
      -webkit-transition: opacity 0.2s ease-in-out;
      transition: opacity 0.2s ease-in-out;
  
      //&:hover {
      //  opacity: 1;
      //  filter: drop-shadow(0px 5px 5px rgb(0, 35, 102));;
      //}
  
      &.sticky {
        overflow-y: auto;
        /* calculate height of nav list
           viewport height - nav height - masthead x-padding
        */
        max-height: calc(100vh - #{$nav-height} - 2em);
      }
    }
  
    @include breakpoint($x-large) {
      width: calc(#{$right-sidebar-width} - 1em);
    }
  
    > * {
      margin-top: 1em;
      margin-bottom: 1em;
    }
  
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: 0;
      font-family: $sans-serif-narrow;
    }
  
    p,
    li {
      font-family: $sans-serif;
      font-size: $type-size-6;
      line-height: 1.5;
    }
  
    img {
      width: 100%;
  
      &.emoji {
        width: 20px;
        height: 20px;
      }
    }
  }


  .author__avatar {
    display: table-cell;
    vertical-align: top;
    width: 36px;
    height: 36px;
  
    @include breakpoint($large) {
      display: block;
      width: auto;
      height: auto;
    }
  
    img {
      max-width: 220px;
      border-radius: 2%;
  
      @include breakpoint($large) {
        padding: 2px;
        background-color: #eeeeee;
        border: 1px solid $border-color;
      }
    }
  }

/* ==========================================================================
TABLES
========================================================================== */

table {
    display: block;
    margin-bottom: 1em;
    width: 100%;
    font-family: $global-font-family;
    font-size: $type-size-6;
    border-collapse: collapse;
    overflow-x: auto;
  
    & + table {
      margin-top: 1em;
    }
  }
  
  thead {
    background-color: $border-color;
    border-bottom: 1px solid mix(#000, $border-color, 25%);
    color:white;
  }
  
  th {
    padding: 0.5em;
    font-weight: bold;
    text-align: left;
  }
  
  td {
    padding: 0.5em;
    border-bottom: 1px solid mix(#000, $border-color, 25%);
  }
  
  tr,
  td,
  th {
    vertical-align: middle;
  }


/* Social icon olors */
.social-icons {
  .fa-researchgate {
    color: #00ccbb;
  }
}


.archive__item-excerpt {
  margin-top: 0px;
  font-size: $type-size-6 !important;

  & + p {
    text-indent: 0;
  }

  a {
    position: relative;
  }
}

/* ==========================================================================
Table of contents navigation
========================================================================== */

.toc__menu {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  font-size: $type-size-6;

  @include breakpoint($large) {
    font-size: $type-size-7;
  }

  a {
    display: block;
    padding: 0.25rem 0.75rem;
    color: black;
    font-weight: bold;
    line-height: 1.5;
    border-bottom: 1px solid $border-color;

    &:hover {
      color: $text-color;
    }
  }

  li ul > li a {
    padding-left: 1.25rem;
    font-weight: normal;
  }

  li ul li ul > li a {
    padding-left: 1.75rem;
  }

  li ul li ul li ul > li a {
    padding-left: 2.25rem;
  }

  li ul li ul li ul li ul > li a {
    padding-left: 2.75rem;
  }

  li ul li ul li ul li ul li ul > li a {
    padding-left: 3.25rem
  }
}