---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

html {
  font-size: 16px; // 

  @include breakpoint($medium) {
    font-size: 16px; // 
  }

  @include breakpoint($large) {
    font-size: 18px; // 
  }

  @include breakpoint($x-large) {
    font-size: 20px; //
  }
}

.sidebar {
    @include clearfix();
    // @include breakpoint(max-width $large) {
    //   /* fix z-index order of follow links */
    //   position: relative;
    //   z-index: 10;
    //   -webkit-transform: translate3d(0, 0, 0);
    //   transform: translate3d(0, 0, 0);
    // }
  
    @include breakpoint($large) {
      float: left;
      width: calc(#{$right-sidebar-width-narrow} - 1em);
      opacity: 1;
      filter: drop-shadow(0px 0px 0px rgb(255, 255, 255));;
      -webkit-transition: opacity 0.2s ease-in-out;
      transition: opacity 0.2s ease-in-out;
  
      &:hover {
        opacity: 1;
        filter: drop-shadow(0px 3px 3px rgb(247, 214, 187));;
      }
  
      &.sticky {
        overflow-y: auto;
        /* calculate height of nav list
           viewport height - nav height - masthead x-padding
        */
        max-height: calc(100vh - #{$nav-height} - 2em);
      }
    }
  
    @include breakpoint($x-large) {
      width: calc(#{$right-sidebar-width} - 1em);
    }
  
    > * {
      margin-top: 1em;
      margin-bottom: 1em;
    }
  
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: 0;
      font-family: $sans-serif-narrow;
    }
  
    p,
    li {
      font-family: $sans-serif;
      font-size: $type-size-6;
      line-height: 1.5;
    }
  
    img {
      width: 100%;
  
      &.emoji {
        width: 20px;
        height: 20px;
      }
    }
  }


  .author__avatar {
    display: table-cell;
    vertical-align: top;
    width: 36px;
    height: 36px;
  
    @include breakpoint($large) {
      display: block;
      width: auto;
      height: auto;
    }
  
    img {
      max-width: 220px;
      border-radius: 10%;
  
      @include breakpoint($large) {
        padding: 5px;
        border: 1px solid $border-color;
      }
    }
  }

/* ==========================================================================
TABLES
========================================================================== */

table {
    display: block;
    margin-bottom: 1em;
    width: 100%;
    font-family: $global-font-family;
    font-size: $type-size-6;
    border-collapse: collapse;
    overflow-x: auto;
  
    & + table {
      margin-top: 1em;
    }
  }
  
  thead {
    background-color: $border-color;
    border-bottom: 0px solid mix(#000, $border-color, 25%);
  }
  
  th {
    padding: 0.5em;
    font-weight: bold;
    text-align: left;
  }
  
  td {
    padding: 0.5em;
    border-bottom: 0px solid mix(#000, $border-color, 25%);
  }
  
  tr,
  td,
  th {
    vertical-align: middle;
  }


/* Social icon olors */
.social-icons {
  .fa-researchgate {
    color: #00ccbb;
  }
}